<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard | NutriFit</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
 
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="#" class="logo">NutriFit</a>
        <ul>
            <li><a href="{{ url_for('nutrition_diary')}}">Nutrition Search</a></li>
            <li><a href="{{ url_for('nutrition_tracker')}}">Nutrition Diary</a></li>
            <li><a href="{{ url_for('daily_intake')}}">Log Nutrition</a></li>
            <li><a href="{{ url_for('signin')}}">Sign Out</a></li>
        </ul>
    </nav>

    <!-- Welcome Section -->
    <section style="text-align: center; margin: 50px 0;">
        <h1>Welcome! </h1>
    </section>

   
</body>

</html>